<div>
  <div class="breadcrumb-holder">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/dashboard/home']">Home</a>
        </li>
        <li class="breadcrumb-item active">Hot Jobs</li>
      </ul>
    </div>
  </div>

  <section>
    <div class="container-fluid">
      <!-- Page Header-->
      <header>
        <h1 class="h3 display">Hot Jobs</h1>
      </header>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>List Hot hotJobs</h4>
            </div>
            <div class="card-body">
              <h5 *ngIf="!hotJobs.length">No Results Found</h5>
              <div class="table-responsive" *ngIf="hotJobs.length">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th style="width: 20%">Title</th>
                      <th>Comany</th>
                      <th>Job Type</th>
                      <th>Slary</th>
                      <th>Status</th>
                      <th>Create at</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let hotJob of hotJobs">
                      <th>{{ hotJob.id }}</th>
                      <td>{{ hotJob.job.title }}</td>
                      <td>{{ hotJob.company.name }}</td>
                      <td>{{ hotJob.job.jobType }}</td>
                      <td>{{ hotJob.job.toSalary }}</td>
                      <td>{{ hotJob.status }}</td>
                      <td>{{ hotJob.createdAt | date:'dd/MM/yyyy hh:mm' }}</td>
                      <td>
                        <div class="btn-group" dropdown>
                          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                  aria-controls="dropdown-basic">
                            Actions <span class="caret"></span>
                          </button>
                          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                              role="menu" aria-labelledby="button-basic">
                            <li role="menuitem" *ngIf="hotJob.status === 'PENDING'">
                              <button class="dropdown-item" (click)="changeJobStatus('approve', hotJob.id)">Approve</button>
                            </li>
                            <li role="menuitem" *ngIf="hotJob.status === 'INACTIVE' || hotJob.status === 'REJECTED'">
                              <button class="dropdown-item" (click)="changeJobStatus('activate', hotJob.id)">Active</button>
                            </li>
                            <li role="menuitem" *ngIf="hotJob.status === 'PENDING'">
                              <button class="dropdown-item" (click)="changeJobStatus('reject', hotJob.id)">Reject</button>
                            </li>
                            <li role="menuitem" *ngIf="hotJob.status === 'ACTIVE'">
                              <button class="dropdown-item" (click)="changeJobStatus('deactivate', hotJob.id)">Deactive</button>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row" *ngIf="totalJobs > 0">
                <div class="col">
                  <pagination [totalItems]="totalJobs" [(ngModel)]="jobsQueryParams.page" (pageChanged)="pageChanged($event)" [itemsPerPage]="jobsQueryParams.size" [maxSize]="15"></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Confirm Delete workingExperience modal dialog -->
  <confirm-dialog
    #confirmJobStatusDialog
    [config]="{title: 'Are you sure?', description: 'Change job status'}"
    (handleConfirm)="handleConfirm($event)">
  </confirm-dialog>
<!-- End Confirm Delete workingExperience modal dialog -->
</div>
