<div>
  <div class="breadcrumb-holder">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/dashboard/home']">Home</a>
        </li>
        <li class="breadcrumb-item active">Hot Job Detail</li>
      </ul>
    </div>
  </div>

  <section>
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-md-7">
          <h3 class="h3 display">{{ jobDetail.title }}</h3>
          <p class="text-description" [innerHTML]="jobDetail.description"></p>
          <h3 class="h3 display">Salary</h3>
          <p class="text-description">{{ jobDetail.fromSalary | salaryConverter:jobDetail.toSalary:'$' }}</p>
          <h3 class="h3 display">Job Category</h3>
          <p class="text-description">{{ jobDetail.category?.name }}</p>
          <h3 class="h3 display">Skills</h3>
          <p class="text-description">{{ jobDetail?.skills | parseskill }}</p>
          <h3 class="h3 display">Job Type</h3>
          <p class="text-description">{{ jobDetail.jobType }}</p>
          <h3 class="h3 display">Requirements</h3>
          <p class="text-description" [innerHTML]="jobDetail.requirements"></p>
          <h3 class="h3 display">Benefits</h3>
          <p class="text-description" [innerHTML]="jobDetail.benefits"></p>
        </div>
        <div class="col-md-5">
          <h2 class="text-center">Company</h2>
          <h4>{{ jobDetail.company?.name }}</h4>
          <p class="text-description">{{ jobDetail.company?.contactName }}</p>
          <p class="text-description">{{ jobDetail.company?.email }}</p>
          <p class="text-description">{{ jobDetail.company?.address }}</p>
          <p class="text-description">{{ jobDetail.company?.phoneNumber }}</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <h4>Status: {{ jobDetail.status }}</h4>
          <div class="my-3">
            <button type="button" class="btn btn-success mr-4" *ngIf="jobDetail.status === 'PENDING'" (click)="changeJobStatus('approve', jobDetail.id)">Approve</button>
            <button type="button" class="btn btn-danger mr-4" *ngIf="jobDetail.status === 'PENDING'" (click)="changeJobStatus('reject', jobDetail.id)">Reject</button>
            <button type="button" class="btn btn-danger mr-4" *ngIf="jobDetail.status === 'ACTIVE'" (click)="changeJobStatus('deactivate', jobDetail.id)">Deactive</button>
            <button type="button" class="btn btn-success mr-4" *ngIf="jobDetail.status === 'INACTIVE' || jobDetail.status === 'REJECTED'" (click)="changeJobStatus('activate', jobDetail.id)">Active</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Confirm Delete workingExperience modal dialog -->
  <confirm-dialog
    #confirmJobStatusDialog
    [config]="{title: 'Are you sure?', description: 'Change hot job status'}"
    (handleConfirm)="handleConfirm($event)">
  </confirm-dialog>
<!-- End Confirm Delete workingExperience modal dialog -->
</div>
