.text-description {
  font-size: 15px;
  font-weight: 300;
}



.details.ml-4 {
  width: -webkit-fill-available;
}
.thumb img {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.badge-wrap {
  margin-left: auto;
  margin-right: auto;
}
.post-list .single-post {
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.post-list .single-post h6 {
  margin-top: 10px;
  color: #222;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}

@media (max-width: 414px) {
  .post-list .single-post h6 {
    font-size: 10px;
  }
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post-list .single-post h5 {
  color: #222;
  font-weight: 300;
  margin-bottom: 15px;
}

.post-list .single-post .address {
  color: #222;
  margin-bottom: 15px;
}

.post-list .single-post .btns li {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.post-list .single-post .btns li i, .post-list .single-post .btns li a {
  text-transform: uppercase;
  font-weight: 500;
  color: #222;
}

.post-list .single-post .btns li:hover {
  background-color: #49e4fa;
}

.post-list .single-post .btns li:hover a, .post-list .single-post .btns li:hover i {
  color: #fff;
}

@media (max-width: 414px) {
  .post-list .single-post .btns li {
    margin-bottom: 5px;
  }
}

.post-list .single-post .thumb .tags {
  margin-top: 30px;
}

.post-list .single-post .thumb .tags li {
  margin-bottom: 5px;
  display: inline-block;
  background: #fff;
  border: 1px solid #eee;
  padding: 6px 15px;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.post-list .single-post .thumb .tags li a {
  color: #777777;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.post-list .single-post .thumb .tags li {
  background-color: #49e4fa;
}

.post-list .single-post .thumb .tags li {
  color: #fff;
}

@media (max-width: 736px) {
  .post-list h4 {
    font-size: 16px;
  }
  .post-list .btns a {
    font-size: 10px;
  }
}

@media (max-width: 414px) {
  .post-list .single-post.flex-row {
    flex-direction: column !important;
    display: inline-block !important;
  }
  .post-list .title.flex-row {
    flex-direction: column !important;
    display: inline-block !important;
  }
  .post-list .details {
    margin-top: 30px;
  }
}
